<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Aim2Code Company Home Page</h1>
    <hr>
    Welcome to the aim2code company home page.
    <hr>
    <p>
        User : <span sec:authentication="principal.username"></span>
        <br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
        <div sec:authorize="hasRole('ROLE_MANAGER')">
            <p>
                <a th:href="@{/leaders}">LearderShip Meeting</a>(Only for Manager Peers)
            </p>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <p>
                <a th:href="@{/systems}">Admins Meeting</a>(Only for Admin Peers)
            </p>
        </div>
    <hr>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>