<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>
    <style>
        .error{
            color: red;
            }
    </style>
</head>
<body>
    <i>Fill out the form. Asterisk (*) means required.</i>
    <br><br>
    <form th:action="@{/processForm}" th:object="${customer}" method="post">

        First Name : <input type="text" th:field="*{firstName}" />
        <br>
        Last Name (*) : <input type="text" th:field="*{lastName}" />
        <!--Add the error message if present-->
        <span th:if="${#fields.hasErrors('lastName')}"
              th:errors="*{lastName}"
              class="error"  ></span>

        <br>

        Free Passes: <input type="text" th:field="*{freePasses}" />
        <!--Add the error message if present-->
        <span th:if="${#fields.hasErrors('freePasses')}"
              th:errors="*{freePasses}"
              class="error"  ></span>

        <br>

        Pin Code : <input type="text" th:field="*{zipCode}" />
        <!--Add the error message if present-->
        <span th:if="${#fields.hasErrors('zipCode')}"
              th:errors="*{zipCode}"
              class="error"  ></span>

        <br>

        Course Code : <input type="text" th:field="*{courseCode}" />
        <!--Add the error message if present-->
        <span th:if="${#fields.hasErrors('courseCode')}"
              th:errors="*{courseCode}"
              class="error"  ></span>
        <br><br>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>